@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-11">

        <a href="secret/secret" class="btn btn-primary">Access Administrator Tools</a>

        <a href="secret/overt" class="btn btn-primary">Access Tools for Everyone</a>

        <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#exampleModal">Modal!</button>

    </div>
</div>

<div class="modal" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Example Modal</h4>
                <button class="close" data-dismiss="modal" id="exampleModalLabel">x</button>
            </div>
            <div class="modal-body">
                <p>This is a Boostrap modal in an ASP.NET Core MVC application.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="visible-lg">
    <h1>ASP.NET</h1>
    <span class="badge">Good News:</span>
    <p class="alert alert-danger">ASP.NET Core is a free web framework.</p>
</div>

<div class="row">
    <div class="col text-center">
        Some tabular data
    </div>
    <div class="col-12">
        <table class="table table-condensed table-striped table-hover">
            <caption>Months Of The Year</caption>
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Days</th>
                </tr>
            </thead>
            <tbody>
                <tr class="active">
                    <td>January</td>
                    <td>31</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>March</td>
                    <td>31</td>
                </tr>
                <tr class="success">
                    <td>April</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>May</td>
                    <td>31</td>
                </tr>
                <tr class="danger">
                    <td>June</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>31</td>
                </tr>
                <tr>
                    <td>August</td>
                    <td>31</td>
                </tr>
                <tr>
                    <td>September</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>October</td>
                    <td>31</td>
                </tr>
                <tr>
                    <td>November</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>December</td>
                    <td>31</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>
